<p>Hi there,</p>
<p>Here are the stories on the front page of <a href="https://news.ycombinator.com/">Hacker News</a>
  with scores above your threshold of <b><%= @subscriber.threshold %></b> in the last 24 hours.
</p>

<p>
  <ul>
  <% @stories.each do |story| %>
  <li>
    <a href="<%= story.url %>"><%= story.title %></a>
    <br />
    Max score: <%= story.max_score %>
  </li>
  <% end %>
  </ul>
</p>

<p>You can <%= link_to "change your threshold", edit_subscriber_url(@subscriber, host: "hn-alerts.com") %> or <%= link_to "unsubscribe", subscriber_url(@subscriber, host: "hn-alerts.com")  %> at any time.</p>

<p>Enjoy!</p>
