<p id="notice"><%= notice %></p>
<h1>Your Preferences</h1>

<p><label>Email:</label> <%= @subscriber.email %></p>
<p><label>Threshold:</label> <%= @subscriber.threshold %></p>

<%= link_to "Edit Preferences", edit_subscriber_path(@subscriber) %>
<%= link_to "Unsubscribe", @subscriber, method: :delete, data: {confirm: "Are you sure?"} %>
