<!DOCTYPE html>
<html>
  <head>
    <title>Hacker Mail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <% if notice %>
      <div class="wrap">
        <p id="notice"><%= notice %></p>
      </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div class="wrap">
        <p><%= link_to "Suggest an Improvement", "https://github.com/jameskerr/hacker_mail/issues/new" %></p>
        <p><%= link_to "Source Code", "https://github.com/jameskerr/hacker_mail" %></p>
        <p>Made with ☕️ by James Kerr</p>
      </div>
    </footer>
  </body>
</html>
